@import url(./reset.css);
@import url(./animations.css);
@import url(./menu.css);
@import url(./animais.css);
@import url(./faq.css);
@import url(./contato.css);
@import url(./copy.css);
@import url(./modal.css);
@import url(./numeros.css);
@import url(./submenu.css);

body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: "Playfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.js-working [data-scroll] {
  transition: opacity 0.3s, transform 0.3s;
}

.js-working [data-scroll="off"] {
  opacity: 0;
  transform: translate(0, -50px);
}

.js-working [data-scroll="on"] {
  opacity: 1;
  transform: translate(0, 0px);
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }
  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
  .animais-lista {
    grid-column: 1;
  }
  .faq-lista,
  .dados,
  .mapa,
  #numeros .lista {
    grid-column: 1 / 3;
  }
  .grid-section h1 {
    font-size: 3rem;
  }
  .menu {
    margin-top: 0px;
  }
  .copy {
    margin-bottom: 0px;
  }
}
